<h1 style="margin: 30px">Stupid Coaching</h1>

<p><%= params[:question] %></p>
<p><i>– You</i></p>

<p><strong><%= @answer %></strong></p>
<p><i>– Your coach</i></p>

<p><%= link_to "Ask a new question", ask_path %></p>
